[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
aioredis = "==1.2.0"
amqp = "==2.5.0"
argon2-cffi = "==19.1.0"
asgiref = "==3.1.4"
asn1crypto = "==0.24.0"
attrs = "==19.1.0"
autobahn = "==19.7.1"
awesome-slugify = "==1.6.5"
billiard = "==3.6.0.0"
celery = "==4.3.0rc3"
certifi = "==2019.6.16"
cffi = "==1.12.3"
channels = "==2.2.0"
channels-redis = "==2.4.0"
chardet = "==3.0.4"
constantly = "==15.1.0"
cryptography = "==2.7"
daphne = "==2.3.0"
defusedxml = "==0.6.0"
django-allauth = "==0.39.1"
django-appconf = "==1.0.3"
django-celery-beat = "==1.5.0"
django-celery-email = "==2.0.1"
django-compressor = "==2.3"
django-contrib-comments = "==1.9.1"
django-crispy-forms = "==1.7.2"
django-environ = "==0.4.5"
django-haystack = "==2.8.1"
django-markdownx = "==2.0.28"
django-redis = "==4.10.0"
django-taggit = "==1.1.0"
django-timezone-field = "==3.0"
elasticsearch = "==2.0.0"
hiredis = "==1.0.0"
hyperlink = "==19.0.0"
idna = "==2.8"
incremental = "==17.5.0"
kombu = "==4.6.3"
msgpack = "==0.6.1"
mysqlclient = "==1.4.2.post1"
oauthlib = "==3.0.2"
pycparser = "==2.19"
python-crontab = "==2.3.7"
python-dateutil = "==2.8.0"
python-slugify = "==3.0.2"
python3-openid = "==3.1.0"
pytz = "==2019.1"
rcssmin = "==1.0.6"
redis = "==3.2.1"
regex = "==2019.6.8"
requests = "==2.21.0"
requests-oauthlib = "==1.2.0"
rjsmin = "==1.1.0"
six = "==1.12.0"
sorl-thumbnail = "==12.5.0"
text-unidecode = "==1.2"
txaio = "==18.8.1"
urllib3 = "==1.24.3"
vine = "==1.3.0"
async_timeout = "==3.0.1"
Markdown = "==3.1.1"
PyHamcrest = "==1.9.0"
Twisted = "==19.2.1"
Unidecode = "==0.4.21"
Automat = "==0.7.0"
Pillow = "==6.1.0"
uWSGI = "==2.0.18"
"zope.interface" = "==4.6.0"
Django = "==2.1.9"
django-debug-toolbar = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
