{% extends 'base.html' %}
{% load comments %}

{% block title %}文章管理 - {{ block.super }}{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <h2>共提出{{ count }}个问题</h2><br>
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12">


                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">标题</th>
                          <th scope="col">状态</th>
                          <th scope="col">是否有回答</th>
                          <th scope="col">发表时间</th>
                          <th scope="col">操作</th>
                        </tr>
                      </thead>
                      <tbody>


                {% for question in questions %}
                    <tr>
                        <th scope="row"><a href="{% url 'qa:question_detail' question.pk %}">{{ question.title|truncatechars:25 }}</a></th>
                        <td>{{ question.get_status_display }}</td>
                        <td>{{ question.has_answer }}</td>
                        <td>{{ question.created_at }}</td>
                        <td>
                            <a class="btn btn-warning" data-ordersn="{{ article.pk }}" href="{% url 'qa:update_question' question.pk %}">编辑</a>
                            <a class="btn btn-danger" data-ordersn="{{ article.pk }}" href="{% url 'qa:delete_question' question.pk %}">删除</a>
                        </td>
                    </tr>
                {% empty %}
                    <h4 class="no-data">还没有提过问题</h4>
                {% endfor %}
                      </tbody>
                    </table>

                <br>

                {% include 'pagination.html' %}

            </div>

        </div>
        <!-- /.row -->
    </div>


{% endblock content %}

