{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/trade.css' %}">
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:detail' request.user.username %}">个人中心</a></li>
            <li class="breadcrumb-item active" aria-current="page">充值</li>
        </ol>
    </nav>
    <h3>选择充值金额</h3><br>

    <div class="row">


        <div class="col-md-8">
            <div class="card-group">
              <div class="card mb-1 money" style="max-width: 5rem;">
                <div class="card-body" id="money_5">
                  <h5 class="card-title">5元
                  </h5>
                </div>
              </div>
              <div class="card mb-1 money" style="max-width: 6rem;">
                <div class="card-body" id="money_10">
                  <h5 class="card-title">10元
                  </h5>
                </div>
              </div>
              <div class="card mb-1 money" style="max-width: 6rem;">
                <div class="card-body" id="money_50">
                  <h5 class="card-title">50元
                  </h5>
                </div>
              </div>
                <div class="card mb-1 money" style="max-width: 7rem;">
                <div class="card-body" id="money_100">
                  <h5 class="card-title">100元
                  </h5>
                </div>
              </div>
                <div class="card mb-1 money" style="max-width: 7rem;">
                <div class="card-body" id="money_500">
                  <h5 class="card-title">500元
                  </h5>
                </div>
              </div>
                <div class="card mb-1 money" style="max-width: 7rem;">
                <div class="card-body" id="money_1000">
                  <h5 class="card-title">1000元
                  </h5>
                </div>
              </div>
                  <div class="card mb-1 money" style="max-width: 8rem;">
                <div class="card-body" id="money_other">
                  <h5 class="card-title">其他
                  </h5>
                </div>
              </div>
        </div>

        <br>
        <div class="money-other">
            请输入充值的金额：<input type="text" id="money-input">&nbsp; 元&nbsp;
            <button class="btn btn-primary" id="other-confirm">确认</button>
            <br><p style="color: red" id="other-info"></p>
        </div>


        </div>

        <div class="col-md-4">
            <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h5 class="card-title">充多得多</h5>

            <p>5元=50金币
{#                <img src="{% static 'img/money.png' %}" alt="" style="width: 32px; height: 32px;">#}
            </p>
            <p>10元=120金币</p>
            <p>50元=600金币</p>
            <p>100元=1500金币</p>
            <p>500元=8000金币</p>
            <p>1000元=20000金币</p>

          </div>
        </div>
        </div>

    </div>




    <hr>
    <h3>支付方式</h3>
    <br>
    <div>
        <input type="radio" name="pay" checked="checked">
        <img src="{% static 'img/alipay.png' %}" alt="" style="width: 140px; height: 50px;">
{#        <input type="radio" name="pay">#}
{#        <img src="{% static 'img/wechat.png' %}" alt="" style="width: 120px; height: 40px;">#}

    </div>
    <hr>

    <div>

    </div>
    <div class="float-right">
        <p id="all_money" style="color: red; font-size: 18px;">需支付 0.00元</p>
        <button type="button" style="width: 150px;" class="btn btn-primary btn-lg" id="pay" data-toggle="modal" data-target="#confirmPay">确认支付
        </button>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="confirmPay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">温馨提示</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            已经支付完成？
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-primary" id="pay-question">支付遇到问题</button>
              <button type="button" id="pay-success" class="btn btn-secondary">支付完成</button>
              <div id="order-sn" data-ordersn=""></div>
          </div>
        </div>
      </div>
    </div>



{% endblock %}

{% block js %}
    <script src="{% static 'js/trade.js' %}"></script>
{% endblock %}
